<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
    <title>{{event.name}} Volunteers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href ="{{ url_for('static', filename='bootstrap.css') }}" media="screen">
    <link rel="stylesheet" href = "{{ url_for('static', filename='bootswatch.css') }}">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h3 class="schedule">{{event.name}} Volunteers</h3>
        {% if users %}
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.email}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h3>No volunteers have registered yet.</h3>
        {% endif %}
    </div>







    <script src="https://code.jquery.com/jquery-1.10.2.min.js">
    </script>
    <script src="{{ url_for('static', filename='toggle.js')}}"></script>
</body>
</html>