    <navbar class="navbar navbar-default navbar-fixed-top">
        <a href="../" class="navbar-brand">Chicago PyLadies</a>
        <button class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            {% if 'username' in session %}
            <li class="dropdown" id="example">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes" aria-expanded="false">My Account<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="{{ url_for('volunteer_schedule') }}">My Schedule</a></li>
                <li class="divider"></li>
              </ul>
            </li>
            {% endif %}
            {% if 'username' not in session %}
            <li>
              <a a href="{{ url_for('signup') }}" method="GET">Sign Up</a>
            </li>
            {% endif %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
              {% if 'username' in session %}
              <li><a href="{{ url_for('logout') }}" method="POST">Logout</a></li>
              {% else %}
              <li><a href="{{ url_for('login') }}" method="GET">Login</a></li>
              {% endif %}
          </ul>
        </div>
    </navbar>
    <div class="navbar-mobile">
        <ul class="nav navbar-right">
        {% if 'username' in session %}
            <li><a href="{{ url_for('volunteer_schedule') }}">My Schedule</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('logout') }}" method="POST">Logout</a></li>
        {% endif %}
        {% if 'username' not in session %}
            <li>
            <a a href="{{ url_for('signup') }}" method="GET">Sign Up</a>
            <li class="divider"></li>
            <li><a href="{{ url_for('login') }}" method="GET">Login</a></li>
            </li>
        {% endif %}
        </ul>
    </div>