<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
    <title>{{session['username'] if 'username' in session else 'PyLady'}}'s Schedule</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href ="{{ url_for('static', filename='bootstrap.css') }}" media="screen">
    <link rel="stylesheet" href = "{{ url_for('static', filename='bootswatch.css') }}">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        {% for error in form.errors.items() %}
            <h3 style="color: red;">{{error[0].capitalize()}}: {{error[1][0]}}</h3>
        {% endfor %}
        <div class="col-lg-9 col-md-9 col-md-offset-2 form-top-padding">
            <div class="error">
            </div>
            <h2>Reset Password:</h2>
        <form action="{{ url_for('validate_reset_password', token=token) }}" class=".form-horizontal" method="POST">
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.password.label(class_='col-sm-6 control-label') }}
        <div class="col-sm-10">
            {{ form.password(class_='form-control contact') }}
        </div>
        </div>
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.confirm.label(class_='col-sm-6 control-label') }}
        <div class="col-sm-10">
            {{ form.confirm(class_='form-control contact') }}
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm col-sm-10">
            {{ form.submit(class_='btn btn-default btn-lg pull-right') }}
        </div>
        </div>
        </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js">
    </script>
    <script src="{{ url_for('static', filename='toggle.js')}}"></script>
</body>
</html>