<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
    <title>{{session['username'] if 'username' in session else 'PyLady'}}'s Schedule</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href ="{{ url_for('static', filename='bootstrap.css') }}" media="screen">
    <link rel="stylesheet" href = "{{ url_for('static', filename='bootswatch.css') }}">
</head>

<body>
    {% include 'navbar-schedule.html' %}
    <div class="container">
        {% if events %}
        <h3 class="schedule">Volunteer Schedule</h3>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time (Hours)</th>
                <th>Role</th>
            </tr>
            {% for event in events %}
            <tr>
                <td><a href="{{event.event_url}}">{{event.name}}</a></td>
                <td>{{get_human_readable_date(event.start_time)}}</td>
                <td>{{event.duration}}</td>
                <td>dummy</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h3>Whoops - looks like you aren't scheduled to volunteer!</h3>
        {% endif %}
    </div>







    <script src="https://code.jquery.com/jquery-1.10.2.min.js">
    </script>
    <script src="{{ url_for('static', filename='toggle.js')}}"></script>
</body>
</html>