<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
    <title>Chicago PyLadies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href ="{{ url_for('static', filename='bootstrap.css') }}" media="screen">
    <link rel="stylesheet" href = "{{ url_for('static', filename='bootswatch.css') }}">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="form-top-padding">
            {% for error in form.errors.items() %}
                <h3 style="color: red; text-align: center;">{{error[0].capitalize()}}: {{error[1][0]}}</h3>
            {% endfor %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert">
            {% for message in messages %}
                <h3><strong>{{ message[0] }}</strong></h3>
                {% if message[1] %}
                <h4>{{ message[1] }}</h4>
                {% endif %}
            {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <h3 class="col-lg-6 col-md-6 col-md-offset-2">Sign Up:</h3>
        </div>
        <div class="well bs-component col-lg-8 col-md-8 col-md-offset-2" style="height: 100%;">
        <form class=".form-horizontal" action="{{ url_for('signup') }}" method="post">
            <div class="form-group">
                {{ form.hidden_tag() }}
                {{ form.first_name.label(class_='col-sm-6 control-label') }}
            <div class="col-sm-11">
                {{ form.first_name(class_='form-control contact') }}
            </div>
            </div>
            <div class="form-group">
                {{ form.hidden_tag() }}
                {{ form.last_name.label(class_='col-sm-6 control-label') }}
            <div class="col-sm-11">
                {{ form.last_name(class_='form-control contact') }}
            </div>
            </div>
            <div class="form-group">
                {{ form.hidden_tag() }}
                {{ form.email.label(class_='col-sm-6 control-label') }}
            <div class="col-sm-11">
                {{ form.email(class_='form-control contact') }}
            </div>
            </div>
            <div class="form-group">
                {{ form.hidden_tag() }}
                {{ form.password.label(class_='col-sm-6 control-label') }}
            <div class="col-sm-11">
                {{ form.password(class_='form-control contact') }}
            </div>
            </div>
            <div class="form-group">
            <div class="col-sm col-sm-11">
                {{ form.submit(class_='btn btn-default btn-lg pull-right') }}
            </div>
            </div>
        </form>
        <div class="clear" style="clear: both"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js">
    </script>
    <script src="{{ url_for('static', filename='toggle.js')}}"></script>
</body>
</html>